.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/esbuild.js
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**
.github/**
*.md
!README.md
!CHANGELOG.md